@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;
  --eggplant: #673c4f;
}
@property --pink {
  syntax: "<color>";
  inherits: true;
  initial-value: hotpink;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: "montserrat", sans-serif;
}
#task-list {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}
.task-list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1em;
  border: 1px solid light-dark(black, white);
  width: 25%;
  border-radius: 15px;
}

